In [192]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [193]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
df_analysis = pd.read_csv("Resources/data_cleaned.csv", index_col=0)

# Review the DataFrame
df_analysis

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,...,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
12,25153030260000,202,210,4158,70,1.0,0,4,2,4,...,203,64.55,Red Line,8641.316080,26084.996093,2717.148357,6391.361862,32.903876,32.903965,57.680425
26,20273010160000,211,111,5313,70,2.0,2,7,4,1,...,167,77.17,Red Line,2378.981155,15798.238046,7256.411321,3508.897334,29.830339,32.745589,56.233720
27,20341050210000,211,111,4500,70,2.0,2,7,4,1,...,206,71.58,Red Line,2483.343963,15881.861019,5154.668579,5247.755218,29.998205,30.015005,59.785008
63,20223010160000,203,30,3300,70,1.0,0,5,3,1,...,84,44.42,Red Line,1289.011353,13598.517588,8798.198308,6507.411449,32.998020,33.004924,64.502211
85,25011050180000,202,130,3643,70,1.0,0,5,3,1,...,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,17301160040000,211,141,2400,77,1.0,2,8,4,1,...,29,13.46,Pink Line,2309.108308,19530.014594,3567.946967,2388.975064,24.001717,24.004066,47.991597
212301,17063060040000,211,52,2600,77,2.0,2,10,4,1,...,9,2.49,Blue Line,3185.879688,15656.812830,4851.155570,4911.124322,24.970062,26.459766,50.243183
212389,14311240200000,205,170,3600,77,2.0,0,9,4,1,...,11,2.88,Blue Line,1605.104188,15247.702912,5011.158050,3307.171219,30.017950,33.000013,57.338882
212394,16162141890000,295,80,1017,77,2.0,0,4,2,2,...,149,55.10,Blue Line,1952.905851,35789.669486,11523.308495,4453.705514,18.327534,24.763143,36.645742
212400,16121020080000,211,101,3175,77,2.0,2,7,4,1,...,69,32.75,Green Line,3110.694686,22713.838616,1663.550266,3842.508220,25.004712,37.491853,50.010324

In [194]:
# Remove columns not necessary for analysis
df_analysis = df_analysis.drop(columns=['Town and Neighborhood', 'pin', 'Property Address', 'Sale Year', 'township_name', 
                                        'property_city', 'property_state'])
# Drop any additional columns here

df_analysis

,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,Basement Finish,...,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
12,202,210,4158,70,1.0,0,4,2,4,3.0,...,203,64.55,Red Line,8641.316080,26084.996093,2717.148357,6391.361862,32.903876,32.903965,57.680425
26,211,111,5313,70,2.0,2,7,4,1,3.0,...,167,77.17,Red Line,2378.981155,15798.238046,7256.411321,3508.897334,29.830339,32.745589,56.233720
27,211,111,4500,70,2.0,2,7,4,1,3.0,...,206,71.58,Red Line,2483.343963,15881.861019,5154.668579,5247.755218,29.998205,30.015005,59.785008
63,203,30,3300,70,1.0,0,5,3,1,1.0,...,84,44.42,Red Line,1289.011353,13598.517588,8798.198308,6507.411449,32.998020,33.004924,64.502211
85,202,130,3643,70,1.0,0,5,3,1,3.0,...,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,211,141,2400,77,1.0,2,8,4,1,2.0,...,29,13.46,Pink Line,2309.108308,19530.014594,3567.946967,2388.975064,24.001717,24.004066,47.991597
212301,211,52,2600,77,2.0,2,10,4,1,3.0,...,9,2.49,Blue Line,3185.879688,15656.812830,4851.155570,4911.124322,24.970062,26.459766,50.243183
212389,205,170,3600,77,2.0,0,9,4,1,1.0,...,11,2.88,Blue Line,1605.104188,15247.702912,5011.158050,3307.171219,30.017950,33.000013,57.338882
212394,295,80,1017,77,2.0,0,4,2,2,3.0,...,149,55.10,Blue Line,1952.905851,35789.669486,11523.308495,4453.705514,18.327534,24.763143,36.645742
212400,211,101,3175,77,2.0,2,7,4,1,1.0,...,69,32.75,Green Line,3110.694686,22713.838616,1663.550266,3842.508220,25.004712,37.491853,50.010324

In [195]:
nan_count = df_analysis.isnull().sum().sum()
print('Number of NaN values:', nan_count)
df_analysis = df_analysis.dropna()
df_analysis

Number of NaN values: 86

,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,Basement Finish,...,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
12,202,210,4158,70,1.0,0,4,2,4,3.0,...,203,64.55,Red Line,8641.316080,26084.996093,2717.148357,6391.361862,32.903876,32.903965,57.680425
26,211,111,5313,70,2.0,2,7,4,1,3.0,...,167,77.17,Red Line,2378.981155,15798.238046,7256.411321,3508.897334,29.830339,32.745589,56.233720
27,211,111,4500,70,2.0,2,7,4,1,3.0,...,206,71.58,Red Line,2483.343963,15881.861019,5154.668579,5247.755218,29.998205,30.015005,59.785008
63,203,30,3300,70,1.0,0,5,3,1,1.0,...,84,44.42,Red Line,1289.011353,13598.517588,8798.198308,6507.411449,32.998020,33.004924,64.502211
85,202,130,3643,70,1.0,0,5,3,1,3.0,...,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,211,141,2400,77,1.0,2,8,4,1,2.0,...,29,13.46,Pink Line,2309.108308,19530.014594,3567.946967,2388.975064,24.001717,24.004066,47.991597
212301,211,52,2600,77,2.0,2,10,4,1,3.0,...,9,2.49,Blue Line,3185.879688,15656.812830,4851.155570,4911.124322,24.970062,26.459766,50.243183
212389,205,170,3600,77,2.0,0,9,4,1,1.0,...,11,2.88,Blue Line,1605.104188,15247.702912,5011.158050,3307.171219,30.017950,33.000013,57.338882
212394,295,80,1017,77,2.0,0,4,2,2,3.0,...,149,55.10,Blue Line,1952.905851,35789.669486,11523.308495,4453.705514,18.327534,24.763143,36.645742
212400,211,101,3175,77,2.0,2,7,4,1,1.0,...,69,32.75,Green Line,3110.694686,22713.838616,1663.550266,3842.508220,25.004712,37.491853,50.010324

In [196]:
# Remove houses with unrealistically low or high sale prices
df_analysis = df_analysis.drop(df_analysis[df_analysis['Sale Price'] <= 50000].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Sale Price'] >= 1000000].index)

# Remove anything that is not single houses
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 211].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 212].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 210].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 295].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 234].index)
df_analysis

,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,Basement Finish,...,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
85,202,130,3643,70,1.0,0,5,3,1,3.0,...,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
88,203,280,5000,70,1.0,0,4,2,1,1.0,...,75,38.96,Red Line,30628.719167,21334.582001,19260.991468,3874.155277,39.975687,39.993200,79.968141
101,205,83,5625,70,2.0,0,8,4,1,3.0,...,276,103.37,Green Line,12439.735556,3295.575031,2343.226246,3295.575031,39.042397,47.495242,84.988992
104,202,180,5103,70,1.0,0,4,2,1,3.0,...,75,32.29,Red Line,15191.034305,12175.922724,7527.763165,5530.625227,39.767487,41.087447,79.564795
149,206,70,4160,70,2.0,0,7,4,1,3.0,...,113,48.75,Green Line,5888.460401,9997.862109,3042.638775,8240.107311,31.988739,31.999336,63.992638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211255,203,40,3125,77,5.0,0,7,3,2,3.0,...,252,70.27,Green Line,6570.610024,26181.506779,6874.136989,4775.103009,25.105343,25.114614,50.220270
211359,203,151,3125,77,1.0,0,5,3,1,3.0,...,57,19.31,Blue Line,1227.619437,19162.310981,6689.081018,4482.496424,25.012356,25.013238,49.998406
211518,203,60,3125,77,5.0,0,7,4,1,3.0,...,77,21.83,Blue Line,1822.114000,15573.537881,5321.266154,3896.896968,24.995481,25.021251,43.774661
211999,278,30,3125,77,2.0,0,7,4,1,1.0,...,17,5.53,Blue Line,3721.886645,18537.459764,6967.030306,902.672069,24.986993,25.297583,49.994583
212208,206,13,4838,77,2.0,0,10,4,1,1.0,...,122,57.04,Green Line,1452.483216,40846.716287,7591.253328,5636.182589,38.096185,39.851326,77.954605

In [197]:
# Create total column for assessors estimate
df_analysis['Estimated Total'] = df_analysis['Estimate (Land)'] + df_analysis['Estimate (Building)']
df_analysis['Estimated Total']

85        114210
88        129220
101       208080
104        85090
149       193050
           ...
211255    123750
211359    487850
211518    599150
211999     79680
212208    188180
Name: Estimated Total, Length: 3669, dtype: int64

In [198]:
# Create price difference column
df_analysis['Price Difference'] =  df_analysis['Sale Price'] - df_analysis['Estimated Total'] 
df_analysis['Price Difference']

85         57790
88         -9220
101       120920
104        22110
149      -142050
           ...
211255     61250
211359    -75850
211518    209850
211999    805320
212208    110820
Name: Price Difference, Length: 3669, dtype: int64

In [199]:
df_analysis['Price Difference'].describe()

count    3.669000e+03
mean     4.384710e+04
std      1.351902e+05
min     -1.942859e+06
25%     -2.309000e+04
50%      2.738000e+04
75%      7.903000e+04
max      9.250000e+05
Name: Price Difference, dtype: float64

In [200]:
# Create boolean sale outcome column for classification
df_analysis['Sale Outcome'] = (df_analysis['Price Difference'] / df_analysis['Estimated Total'] >= .1) 
df_analysis['Sale Outcome']

85         True
88        False
101        True
104        True
149       False
          ...
211255     True
211359    False
211518     True
211999     True
212208     True
Name: Sale Outcome, Length: 3669, dtype: bool

In [201]:
# Drop additional columns 
df_analysis = df_analysis.drop(columns=['Price Difference', 'Sale Price', 'Lot Size Squared', 'Improvement Size Squared', 'longitude', 'latitude', 'Apartments'])

In [202]:
# df_analysis.to_csv('Kyle_machine_learning_dataset.csv', encoding='utf-8')

In [203]:
# List of string vars for the purpose of getting dummies

# ['Property Class', 'Neighborhood Code', 'Town Code', 'Type of Residence', 'Basement Finish', 
# 'Central Heating', 'Other Heating', 'Attic Type', 'Garage 1 Size', 'Garage 1 Attachment', 'Garage 1 Area', 
# 'Porch', 'Use', 'property_zip', 'ward_num', 'school_elementary_district_name', 'school_secondary_district_name', 'nearest_cta_route_name']

In [204]:
# Get dummies
cat_dummies = pd.get_dummies(df_analysis, columns=['Property Class', 'Neighborhood Code', 'Town Code', 'Type of Residence', 'Basement Finish', 
'Central Heating', 'Attic Type', 
'Garage 1 Size', 'Garage 1 Attachment', 'Garage 1 Area', 
'Porch', 'Use', 'property_zip', 'ward_num', 'school_elementary_district_name', 'school_secondary_district_name', 'nearest_cta_route_name'], drop_first=True)
cat_dummies.head()

,Land Square Feet,Rooms,Bedrooms,Basement,Other Heating,Central Air,Fireplaces,Half Baths,Building Square Feet,Estimate (Land),...,school_secondary_district_name_CPS SECONDARY - VOISE HS,school_secondary_district_name_CPS SECONDARY - WASHINGTON HS,school_secondary_district_name_CPS SECONDARY - WELLS HS,nearest_cta_route_name_Brown Line,nearest_cta_route_name_Green Line,nearest_cta_route_name_Orange Line,nearest_cta_route_name_Pink Line,nearest_cta_route_name_Purple Line,nearest_cta_route_name_Red Line,nearest_cta_route_name_Yellow Line
85,3643,5,3,1,5.0,False,0,0,982,29140,...,False,False,False,False,False,False,False,False,True,False
88,5000,4,2,1,5.0,True,0,0,1044,30000,...,False,True,False,False,False,False,False,False,True,False
101,5625,8,4,1,5.0,False,0,1,1998,70310,...,False,False,False,False,True,False,False,False,False,False
104,5103,4,2,1,5.0,False,0,0,797,25510,...,False,False,False,False,False,False,False,False,True,False
149,4160,7,4,1,5.0,False,0,0,3080,41600,...,False,False,False,False,True,False,False,False,False,False

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [205]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = cat_dummies["Sale Outcome"]

# Separate the X variable, the features
X = cat_dummies.drop(columns="Sale Outcome")

In [206]:
# Review the y variable Series
y.head()

85      True
88     False
101     True
104     True
149    False
Name: Sale Outcome, dtype: bool

In [207]:
# Check for class imbalance
y.value_counts()

Sale Outcome
True     1935
False    1734
Name: count, dtype: int64

In [208]:
# Review the X variable DataFrame
X.head()

,Land Square Feet,Rooms,Bedrooms,Basement,Other Heating,Central Air,Fireplaces,Half Baths,Building Square Feet,Estimate (Land),...,school_secondary_district_name_CPS SECONDARY - VOISE HS,school_secondary_district_name_CPS SECONDARY - WASHINGTON HS,school_secondary_district_name_CPS SECONDARY - WELLS HS,nearest_cta_route_name_Brown Line,nearest_cta_route_name_Green Line,nearest_cta_route_name_Orange Line,nearest_cta_route_name_Pink Line,nearest_cta_route_name_Purple Line,nearest_cta_route_name_Red Line,nearest_cta_route_name_Yellow Line
85,3643,5,3,1,5.0,False,0,0,982,29140,...,False,False,False,False,False,False,False,False,True,False
88,5000,4,2,1,5.0,True,0,0,1044,30000,...,False,True,False,False,False,False,False,False,True,False
101,5625,8,4,1,5.0,False,0,1,1998,70310,...,False,False,False,False,True,False,False,False,False,False
104,5103,4,2,1,5.0,False,0,0,797,25510,...,False,False,False,False,False,False,False,False,True,False
149,4160,7,4,1,5.0,False,0,0,3080,41600,...,False,False,False,False,True,False,False,False,False,False

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [209]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(2751, 653)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [210]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=20000,
                                random_state=1,
                                class_weight='balanced')
classifier

# Fit the model using training data
classifier.fit(X_train, y_train)

LogisticRegression(class_weight='balanced', max_iter=20000, random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [211]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)
results

     Prediction  Actual
0          True    True
1          True   False
2         False    True
3         False   False
4         False   False
..          ...     ...
913        True   False
914        True    True
915       False   False
916       False   False
917        True   False

[918 rows x 2 columns]

In [212]:
# Testing scores
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6125045438022537
Testing Data Score: 0.5915032679738562

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.

* Print the classification report.

In [213]:
# Generate a confusion matrix for the model

# Create and save the confusion matrix for the training data
testing_matrix = confusion_matrix(y_test, predictions)

# Print the confusion matrix for the training data
print(testing_matrix)

[[257 177]
 [198 286]]

In [214]:
# Print the classification report for the model
testing_report = classification_report(y_test, predictions)

# Print the testing classification report
print(testing_report)

              precision    recall  f1-score   support

       False       0.56      0.59      0.58       434
        True       0.62      0.59      0.60       484

    accuracy                           0.59       918
   macro avg       0.59      0.59      0.59       918
weighted avg       0.59      0.59      0.59       918