# Pymaceuticals Inc.
---

### Analysis


For the entire dataset, there were roughly the same amount of datapoints collected for each treatment, and the amount of male and female mice tested were roughly equal. Capomulin seems to be a very effective treatment drug, having a lower median tumor volume than all other drugs tested except Ramicane. For the final tumor volume of each of the mice for the four most promising drugs, there was only one outlier for Infubinol that had a very low tumor volume. Based on the scatterplot for tumor size vs. weight for Capomulin, there is a correlation between tumor size and the weight of the mouse. This is backed up by the linear regression r value of 0.84. From the slope of the line, for every 1 gram increase in weight, tumor volume is predicted to increase by 0.95 mm3.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# data files
residental_sales_data_path = "resources/residential-sales-data.csv"
code_70_path = "resources/code-70-parcel-data.csv"
code_71_path = "resources/code-71-parcel-data.csv"
code_72_path = "resources/code-72-parcel-data.csv"
code_73_path = "resources/code-73-parcel-data.csv"
code_74_path = "resources/code-74-parcel-data.csv"
code_75_path = "resources/code-75-parcel-data.csv"
code_76_path = "resources/code-76-parcel-data.csv"
code_77_path = "resources/code-77-parcel-data.csv"


# Read the data into dataframes
residential_sales_data = pd.read_csv(residental_sales_data_path)
parcel_data_code_70 = pd.read_csv(code_70_path)
parcel_data_code_71 = pd.read_csv(code_71_path)
parcel_data_code_72 = pd.read_csv(code_72_path)
parcel_data_code_73 = pd.read_csv(code_73_path)
parcel_data_code_74 = pd.read_csv(code_74_path)
parcel_data_code_75 = pd.read_csv(code_75_path)
parcel_data_code_76 = pd.read_csv(code_76_path)
parcel_data_code_77 = pd.read_csv(code_77_path)

In [2]:
# Prepare the sales dataframe for merging
residential_sales_data = residential_sales_data.rename(columns={"PIN": "pin"})
residential_sales_data = residential_sales_data.drop_duplicates(subset = 'pin')
residential_sales_data

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,Age Decade Squared,Lot Size Squared,Improvement Size Squared,Pure Market Filter,Garage Indicator,Neigborhood Code (mapping),Square root of lot size,Square root of age,Square root of improvement size,Town and Neighborhood
0,20264140050000,211,70,4687.0,70,2.0,0.0,2.0,1.0,11.0,...,84.64,2.196797e+07,4368100.0,0,1.0,70,68.461668,9.591663,45.716518,7070
2,20143100350000,207,70,2790.0,70,2.0,0.0,1.0,1.0,7.0,...,4.41,7.784100e+06,3083536.0,1,1.0,70,52.820451,4.582576,41.904654,7070
3,25221150220000,202,210,4000.0,70,1.0,0.0,1.0,1.0,5.0,...,108.16,1.600000e+07,795664.0,1,1.0,210,63.245553,10.198039,29.866369,70210
4,25033000760000,210,111,2700.0,70,2.0,0.0,2.0,1.0,5.0,...,50.41,7.290000e+06,990025.0,0,0.0,111,51.961524,8.426150,31.543621,70111
5,26174070030000,203,240,4312.0,70,5.0,0.0,2.0,1.0,6.0,...,47.61,1.859334e+07,1478656.0,1,1.0,240,65.665821,8.306624,34.871192,70240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291858,16121020080000,211,101,3175.0,77,2.0,2.0,2.0,2.0,7.0,...,144.00,1.008062e+07,5832225.0,1,0.0,101,56.347138,10.954451,49.142650,77101
291860,17172120161351,299,131,38130.0,77,NaN,NaN,NaN,NaN,NaN,...,2.25,1.453897e+09,NaN,0,NaN,131,195.269045,3.872983,NaN,77131
291861,17082240081014,299,120,7136.0,77,NaN,NaN,NaN,NaN,NaN,...,1.44,5.092250e+07,NaN,1,NaN,120,84.474848,3.464102,NaN,77120
291862,13251310220000,211,150,3018.0,77,3.0,3.0,2.0,2.0,18.0,...,139.24,9.108324e+06,11923209.0,1,0.0,150,54.936327,10.862780,58.762233,77150
291864,17193040270000,203,141,2976.0,77,1.0,0.0,1.0,1.0,4.0,...,196.00,8.856576e+06,1000000.0,0,1.0,141,54.552727,11.832160,31.622777,77141

In [21]:
# Export the prepared sales df
residential_sales_data.to_csv('residential_sales_data.csv', encoding='utf-8')

In [3]:
# Check for any duplicate sales remaining
grouped_sales = residential_sales_data.groupby(["pin"])
grouped_sales.size().sort_values(ascending= False)

pin
9253030290000     1
17183170570000    1
17183170220000    1
17183170250000    1
17183170270000    1
                 ..
14192300280000    1
14192300300000    1
14192310030000    1
14192310090000    1
26323110100000    1
Length: 212405, dtype: int64

In [4]:
# Prepare parcel data by removing duplicate geographic data for each house
parcel_data_code_70 = parcel_data_code_70.drop_duplicates(subset = 'pin')
parcel_data_code_71 = parcel_data_code_71.drop_duplicates(subset = 'pin')
parcel_data_code_72 = parcel_data_code_72.drop_duplicates(subset = 'pin')
parcel_data_code_73 = parcel_data_code_73.drop_duplicates(subset = 'pin')
parcel_data_code_74 = parcel_data_code_74.drop_duplicates(subset = 'pin')
parcel_data_code_75 = parcel_data_code_75.drop_duplicates(subset = 'pin')
parcel_data_code_76 = parcel_data_code_76.drop_duplicates(subset = 'pin')
parcel_data_code_77 = parcel_data_code_77.drop_duplicates(subset = 'pin')

# Show one of the dataframes
parcel_data_code_70

,class,township_name,township_code,neighborhood_code,tax_district_code,longitude,latitude,property_address,property_city,property_state,...,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft,pin
0,203,Hyde Park,70,70080,70001,-87.578862,41.750647,7930 S BENNETT AVE HSE,CHICAGO,IL,...,NaN,5010.554696,NaN,NaN,Lk Michigan,7296.925071,29.994879,44.983677,59.980536,20361030290000
1,203,Hyde Park,70,70100,70001,-87.548323,41.747722,8120 S SOUTH SHORE DR,CHICAGO,IL,...,NaN,1347.910547,NaN,NaN,Lk Michigan,2147.487768,29.995027,30.003632,59.980378,21312230280000
2,205,Hyde Park,70,70020,70001,-87.595164,41.791693,1232 E 57TH ST,CHICAGO,IL,...,NaN,2173.879227,NaN,NaN,East Lagoon,2999.208072,34.978534,35.318277,69.970823,20142070330000
3,202,Hyde Park,70,70111,70002,-87.617272,41.715263,9837 S PRAIRIE AVE,CHICAGO,IL,...,NaN,4088.773261,NaN,NaN,Calumet Riv,9507.594659,29.977187,29.993885,59.935065,25101230110000
4,299,Hyde Park,70,70150,70001,-87.582977,41.772636,6720 S RIDGELAND AVE 2,CHICAGO,IL,...,NaN,2612.566473,NaN,NaN,South Lagoon,1932.070807,55.007023,60.006722,105.005102,20243020221002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663973,299,Hyde Park,70,70010,70033,-87.605289,41.819989,4100 S DREXEL AVE P22,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,86.903965,103.746814,109.657927,20021280184058
2664049,299,Hyde Park,70,70010,70033,-87.605289,41.819989,4124 S DREXEL AVE 3A,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,86.903965,103.746814,109.657927,20021280184027
2666104,299,Hyde Park,70,70020,70001,-87.601616,41.800371,5200 S ELLIS AVE 402,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,120.679457,144.703349,20113080591050
2669206,299,Hyde Park,70,70070,70001,-87.598370,41.783985,6100 S UNIVERSITY AVE 1,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,49.994388,99.989832,149.984425,20143110411006
2674499,299,Hyde Park,70,70010,70001,-87.604902,41.804827,0 UNKNOWN,UNKNOWN,IL,...,NaN,NaN,NaN,NaN,NaN,4662.454510,56.383418,59.758372,68.068858,20111090401050

In [5]:
# Check for any remaining duplicates
grouped_parcel = parcel_data_code_70.groupby(["pin"])
grouped_parcel.size().sort_values(ascending= False)

pin
20021000010000    1
25032090200000    1
25032090180000    1
25032090170000    1
25032090160000    1
                 ..
20244290061007    1
20244290061006    1
20244290061005    1
20244290061004    1
26325000040000    1
Length: 116815, dtype: int64

In [7]:
# combine all of the parcel data into one dataframe
# The data was too big to download from the assessors website in one CSV, which is why the parcel data was originally separated by township_code
# This also turned out to be too big to perform a merge with
df_total_parcel = pd.DataFrame()
df_total_parcel = pd.concat([parcel_data_code_70, parcel_data_code_71, parcel_data_code_72, parcel_data_code_73, 
                             parcel_data_code_74, parcel_data_code_75, parcel_data_code_76, parcel_data_code_77], ignore_index=True)
df_total_parcel

,class,township_name,township_code,neighborhood_code,tax_district_code,longitude,latitude,property_address,property_city,property_state,...,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft,pin
0,203,Hyde Park,70,70080,70001,-87.578862,41.750647,7930 S BENNETT AVE HSE,CHICAGO,IL,...,NaN,5010.554696,NaN,NaN,Lk Michigan,7296.925071,29.994879,44.983677,59.980536,20361030290000
1,203,Hyde Park,70,70100,70001,-87.548323,41.747722,8120 S SOUTH SHORE DR,CHICAGO,IL,...,NaN,1347.910547,NaN,NaN,Lk Michigan,2147.487768,29.995027,30.003632,59.980378,21312230280000
2,205,Hyde Park,70,70020,70001,-87.595164,41.791693,1232 E 57TH ST,CHICAGO,IL,...,NaN,2173.879227,NaN,NaN,East Lagoon,2999.208072,34.978534,35.318277,69.970823,20142070330000
3,202,Hyde Park,70,70111,70002,-87.617272,41.715263,9837 S PRAIRIE AVE,CHICAGO,IL,...,NaN,4088.773261,NaN,NaN,Calumet Riv,9507.594659,29.977187,29.993885,59.935065,25101230110000
4,299,Hyde Park,70,70150,70001,-87.582977,41.772636,6720 S RIDGELAND AVE 2,CHICAGO,IL,...,NaN,2612.566473,NaN,NaN,South Lagoon,1932.070807,55.007023,60.006722,105.005102,20243020221002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009726,299,West Chicago,77,77131,77003,-87.654765,41.883271,106 N ABERDEEN ST OPU13,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,73.874612,77.228866,17084360241042
1009727,299,West Chicago,77,77131,77034,-87.664809,41.881066,1500 W MADISON ST P1-95,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,120.974056,174.499274,17171010371038
1009728,299,West Chicago,77,77131,77002,-87.650409,41.878229,225 S SANGAMON ST 509,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,126.128284,129.228982,17172200201030
1009729,299,West Chicago,77,77132,77027,-87.647774,41.860801,811 W 15TH PL 308-W,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,136.631583,137.812966,140.581954,17202340061106
1009730,299,West Chicago,77,77132,77027,-87.647774,41.860801,811 W 15TH PL 504-E,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,136.631583,137.812966,140.581954,17202340061034

In [8]:
# Check for any duplicates after concatination
grouped_parcel = df_total_parcel.groupby(["pin"])
grouped_parcel.size().sort_values(ascending= False)

pin
8361010140000     1
17284060110000    1
17284070070000    1
17284070100000    1
17284070120000    1
                 ..
14322040440000    1
14322040450000    1
14322040460000    1
14322040470000    1
26325000040000    1
Length: 1009731, dtype: int64

In [22]:
# Export concatinated parcel data
df_total_parcel.to_csv('combined_parcel_data.csv', encoding='utf-8')

In [9]:
# Since the total parcel data was too big to merge, 8 individual inner joins were executed and the results concatinated to achieve the same outcome
# Here is the inner join for all parcel data with town code 70
housing_data70 = pd.merge(residential_sales_data, parcel_data_code_70, how="inner", on=["pin", "pin"])
housing_data70

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,20264140050000,211,70,4687.0,70,2.0,0.0,2.0,1.0,11.0,...,2022.0,764.136594,1935.453861,2132.176749,1055.883106,South Lagoon,7762.535182,35.427683,37.501601,68.738677
1,20143100350000,207,70,2790.0,70,2.0,0.0,1.0,1.0,7.0,...,2022.0,4188.862414,2896.061077,886.525144,1745.812282,NaN,2559.083259,43.383443,76.822828,82.441660
2,25221150220000,202,210,4000.0,70,1.0,0.0,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25033000760000,210,111,2700.0,70,2.0,0.0,2.0,1.0,5.0,...,2016.0,NaN,5712.006728,NaN,NaN,NaN,9265.784793,30.013366,31.806947,60.028247
4,26174070030000,203,240,4312.0,70,5.0,0.0,2.0,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.492083,34.810349,68.982910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22951,20031100381003,299,10,7475.0,70,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.748687,57.505374,88.741538
22952,20341130540000,205,111,4830.0,70,2.0,0.0,2.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4107.963255,29.996222,29.996593,59.992624
22953,20234060280000,211,70,6440.0,70,2.0,2.0,2.0,1.0,12.0,...,NaN,NaN,NaN,NaN,NaN,South Lagoon,3956.122269,36.736471,40.256749,80.510784
22954,20273110030000,211,111,4800.0,70,2.0,0.0,2.0,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.502616,29.995516,58.495888
22955,20113280110000,206,20,5406.0,70,2.0,0.0,2.0,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2615.214017,33.494086,33.502249,75.006351

In [10]:
# Checking for duplicates
joined_housing = housing_data70.groupby(["pin"])
joined_housing.size().sort_values(ascending= False)

pin
20021010050000    1
25011230150000    1
25011250270000    1
25011240400000    1
25011240380000    1
                 ..
20243180650000    1
20243180570000    1
20243180560000    1
20243180550000    1
26323110100000    1
Length: 22956, dtype: int64

In [11]:
# Inner join for all parcel data with town code 71
housing_data71= pd.merge(residential_sales_data, parcel_data_code_71, how="inner", on=["pin", "pin"])
housing_data71

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,12111190201042,299,390,48470.0,71,NaN,NaN,NaN,NaN,NaN,...,2013.0,NaN,8980.371041,NaN,NaN,Des Plaines Riv,3948.684307,145.193578,150.204017,151.760735
1,13093160601015,299,402,8893.0,71,NaN,NaN,NaN,NaN,NaN,...,2022.0,282.202820,891.329506,851.240769,312.983107,Chicago River N Br,4875.647093,78.409825,131.396683,131.538685
2,13121080620000,204,42,7560.0,71,1.0,0.0,2.0,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,North Shore Chnnl,1031.141000,62.497738,64.993927,114.997459
3,13174070550000,203,90,4750.0,71,5.0,0.0,2.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.956319,37.991230,63.934998
4,13172310190000,203,90,4375.0,71,1.0,0.0,2.0,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.993372,34.995448,69.997988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44705,13313060220000,203,200,3750.0,71,1.0,0.0,1.0,1.0,5.0,...,2013.0,NaN,1606.208038,NaN,NaN,Des Plaines Riv,8066.257179,30.016967,30.026293,60.023641
44706,13174270230000,205,90,4375.0,71,2.0,0.0,1.0,1.0,6.0,...,2022.0,311.798314,6495.702940,452.005189,5915.979488,Chicago River N Br,10882.320865,34.971965,34.981962,69.949015
44707,13184100341028,299,600,41994.0,71,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212.178439,217.149347,225.270633
44708,13112000401008,299,50,33108.0,71,NaN,NaN,NaN,NaN,NaN,...,2019.0,NaN,11009.936857,NaN,NaN,North Shore Chnnl,2303.258914,116.916018,116.951415,142.030721
44709,13081120210000,203,430,3720.0,71,5.0,0.0,2.0,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,Chicago River N Br,4593.471366,30.030465,30.031338,60.071113

In [12]:
# Inner join for all parcel data with town code 72
housing_data72= pd.merge(residential_sales_data, parcel_data_code_72, how="inner", on=["pin", "pin"])
housing_data72

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,25322110400000,203,345,4566.0,72,1.0,0.0,2.0,1.0,5.0,...,2019.0,NaN,4621.077417,NaN,NaN,Little Calumet Riv,1310.413264,46.773029,85.414365,90.425083
1,25094200170000,202,330,4092.0,72,1.0,0.0,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.817869,33.000501,64.964345
2,25063190210000,205,271,5903.0,72,2.0,0.0,2.0,1.0,6.0,...,2014.0,NaN,3164.925504,NaN,NaN,NaN,15420.724749,41.770807,44.941434,86.751717
3,25091180890000,205,282,5187.0,72,2.0,0.0,1.0,1.0,5.0,...,2019.0,NaN,3107.000726,NaN,NaN,NaN,12234.683309,39.746609,77.741474,103.790178
4,25292110700000,207,310,5250.0,72,2.0,0.0,3.0,1.0,7.0,...,2022.0,2552.004674,966.233954,488.699687,908.877176,Little Calumet Riv,5164.993628,41.921684,41.927793,83.844470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39281,19153100450000,203,30,3780.0,72,1.0,0.0,2.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.997885,29.998958,59.486485
39282,20191240400000,203,120,3125.0,72,1.0,0.0,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39283,19233280180000,203,30,3750.0,72,5.0,0.0,2.0,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39284,19092000480000,203,350,3937.0,72,1.0,0.0,1.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.253631,31.272537,59.428531
39285,19103070260000,212,30,3906.0,72,3.0,3.0,2.0,1.0,15.0,...,2019.0,NaN,16490.694329,NaN,NaN,Chicago Sanitary and Ship Cnl,7348.716013,31.257057,31.257753,59.392049

In [13]:
# Inner join for all parcel data with town code 73
housing_data73= pd.merge(residential_sales_data, parcel_data_code_73, how="inner", on=["pin", "pin"])
housing_data73

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,14283220451052,299,63,44528.0,73,NaN,NaN,NaN,NaN,NaN,...,2019.0,NaN,8276.900899,NaN,NaN,North Pond,857.624875,49.273368,51.503636,112.902807
1,14213100551055,299,62,18500.0,73,NaN,NaN,NaN,NaN,NaN,...,2020.0,NaN,11948.689234,NaN,NaN,Belmont Hbr,482.924180,85.430907,149.229992,170.057283
2,14293100551004,299,93,6222.0,73,NaN,NaN,NaN,NaN,NaN,...,2020.0,NaN,5220.417020,NaN,NaN,Chicago River N Br,3617.560063,37.448956,49.942141,62.421179
3,14204131041002,299,84,3654.0,73,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14173100541001,299,44,6263.0,73,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.481452,49.996664,62.476930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34057,14291140531001,299,120,3077.0,73,NaN,NaN,NaN,NaN,NaN,...,2017.0,NaN,7363.137398,NaN,NaN,Chicago River N Br,4842.303483,24.999308,25.012664,49.999197
34058,14083150581116,299,32,66860.0,73,NaN,NaN,NaN,NaN,NaN,...,2019.0,NaN,1818.079524,NaN,NaN,NaN,3719.053595,0.001509,122.835914,123.284097
34059,14081170491016,299,31,15000.0,73,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.222735,75.231028,105.304435
34060,14204010441002,299,84,6232.0,73,NaN,NaN,NaN,NaN,NaN,...,2018.0,NaN,9250.198056,NaN,NaN,Belmont Hbr,4445.126332,37.499095,37.505895,62.487176
34061,14282030271053,299,62,16000.0,73,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Belmont Hbr,1170.043368,136.592540,142.034393,148.155187

In [14]:
# Inner join for all parcel data with town code 74
housing_data74= pd.merge(residential_sales_data, parcel_data_code_74, how="inner", on=["pin", "pin"])
housing_data74

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,14322110150000,208,12,3720.0,74,3.0,0.0,2.0,6.0,9.0,...,2014.0,NaN,5123.919361,NaN,NaN,Chicago River N Br,3533.964679,29.837780,29.845530,60.687398
1,17101320401172,299,30,39335.0,74,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000
2,14332000151002,299,12,16650.0,74,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.269914,78.417006,181.295601
3,17032280321158,299,22,46497.0,74,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000
4,17032070611082,299,22,6972.0,74,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20205,17102090251300,299,30,48556.0,74,NaN,NaN,NaN,NaN,NaN,...,2020.0,NaN,2964.378265,NaN,NaN,Chicago Riv,1156.836948,0.000000,177.827857,208.110231
20206,17094100141422,299,30,151240.0,74,NaN,NaN,NaN,NaN,NaN,...,2015.0,NaN,2092.944930,NaN,NaN,Chicago Riv,254.899160,96.667881,97.660668,97.660668
20207,14322280090000,211,12,3125.0,74,2.0,4.0,2.0,2.0,16.0,...,2014.0,NaN,5146.646087,NaN,NaN,Chicago River N Br,3028.473039,24.934136,24.944366,47.407922
20208,17101350382064,299,30,98018.0,74,NaN,NaN,NaN,NaN,NaN,...,2018.0,NaN,1954.887439,NaN,NaN,Chicago Riv,77.927189,0.000000,0.004252,0.004252
20209,17102090251371,299,30,48556.0,74,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,177.827857,208.109063

In [15]:
# Inner join for all parcel data with town code 75
housing_data75= pd.merge(residential_sales_data, parcel_data_code_75, how="inner", on=["pin", "pin"])
housing_data75

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,10253170190000,207,10,3750.0,75,2.0,0.0,2.0,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.063812,33.780004,60.062933
1,10362140111015,299,40,18913.0,75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11313020881004,299,22,6334.0,75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.778927,51.787766,103.550107
3,11322020291012,299,33,8925.0,75,NaN,NaN,NaN,NaN,NaN,...,2017.0,NaN,4614.435122,NaN,NaN,Lk Michigan,483.421475,50.551168,101.117660,151.668157
4,10253240450000,202,10,3750.0,75,1.0,0.0,2.0,1.0,4.0,...,2021.0,2663.934408,6907.606815,767.625831,2878.297283,North Shore Chnnl,2815.492494,28.640820,31.000257,64.000749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6810,11321210201005,299,31,8750.0,75,NaN,NaN,NaN,NaN,NaN,...,2015.0,NaN,2634.149740,NaN,NaN,Lk Michigan,2685.975538,49.976040,54.051195,54.148356
6811,11313130120000,211,22,3750.0,75,3.0,3.0,2.0,2.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.945386,44.970990,59.889144
6812,11321110030000,205,33,7005.0,75,2.0,0.0,4.0,1.0,10.0,...,2015.0,NaN,3738.521473,NaN,NaN,Lk Michigan,709.360307,94.397773,114.720462,165.130385
6813,11323010201003,299,60,7146.0,75,NaN,NaN,NaN,NaN,NaN,...,2016.0,NaN,2501.719404,NaN,NaN,Lk Michigan,3008.992882,53.633320,103.708177,153.786882
6814,11303160171006,299,31,6000.0,75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Inner join for all parcel data with town code 76
housing_data76= pd.merge(residential_sales_data, parcel_data_code_76, how="inner", on=["pin", "pin"])
housing_data76

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,17273100931118,299,40,365398.0,76,NaN,NaN,NaN,NaN,NaN,...,2017.0,NaN,2898.719654,NaN,NaN,Lk Michigan,3921.831024,318.748203,351.281913,371.061474
1,16363130430000,202,60,3125.0,76,1.0,0.0,1.0,1.0,4.0,...,2021.0,1739.889379,12939.363409,1987.518004,536.603639,Chicago Sanitary and Ship Cnl,2430.091484,25.015367,25.025428,50.030718
2,17212101451011,299,11,17080.0,76,NaN,NaN,NaN,NaN,NaN,...,2014.0,NaN,3165.138248,NaN,NaN,Chicago River S Br,1487.248160,96.897979,152.613109,157.721911
3,17164080391042,299,10,6627.0,76,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.142986,75.256324,107.706244
4,17322020250000,202,50,2976.0,76,1.0,0.0,1.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.005109,24.011424,48.009771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11648,17212101481092,299,11,75870.0,76,NaN,NaN,NaN,NaN,NaN,...,2018.0,NaN,2933.485618,NaN,NaN,Chicago River South Br,1614.164935,0.000000,0.004697,112.937413
11649,17153040521174,299,10,66731.0,76,NaN,NaN,NaN,NaN,NaN,...,2014.0,NaN,1661.119081,NaN,NaN,Chicago River S Br,2417.519471,0.000000,40.334100,120.566676
11650,17344230154005,299,41,6821.0,76,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Lk Michigan,2444.201184,54.006793,64.493118,97.849564
11651,17153040521061,299,10,66731.0,76,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,40.334100,120.566676
11652,17223140331058,299,11,27125.0,76,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Burnham Park Hbr,2281.140152,84.974663,91.041266,91.206143

In [17]:
# Inner join for all parcel data with town code 77
housing_data77= pd.merge(residential_sales_data, parcel_data_code_77, how="inner", on=["pin", "pin"])
housing_data77

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,16094150130000,211,13,4500.0,77,3.0,6.0,2.0,2.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.089977,25.097575,50.195607
1,17204020381005,299,141,20674.0,77,NaN,NaN,NaN,NaN,NaN,...,2020.0,NaN,1626.240218,NaN,NaN,Mason Cnl,3278.648760,95.805269,119.753165,141.714714
2,14301160231012,299,150,28476.0,77,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.445704,203.516194,207.570183
3,13253020100000,203,151,2616.0,77,5.0,0.0,2.0,1.0,9.0,...,2019.0,NaN,6966.346271,NaN,NaN,Chicago River N Br,4019.195805,24.245916,24.252491,48.486129
4,17213000290000,203,141,2400.0,77,1.0,0.0,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,Chicago River S Br,2516.423126,23.949727,35.896696,59.846467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32708,16121020080000,211,101,3175.0,77,2.0,2.0,2.0,2.0,7.0,...,2019.0,NaN,1663.550266,NaN,NaN,NaN,3842.508220,25.004712,37.491853,50.010324
32709,17172120161351,299,131,38130.0,77,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.585415,155.464516,160.264510
32710,17082240081014,299,120,7136.0,77,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.440016,78.833218,107.208034
32711,13251310220000,211,150,3018.0,77,3.0,3.0,2.0,2.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.086735,74.702324,82.574120
32712,17193040270000,203,141,2976.0,77,1.0,0.0,1.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5058.506892,24.003443,24.004172,47.993710

In [18]:
# Concatinating all join results into one dataframe (a complete record of sales and the associated geographical data)
df_joined_data = pd.DataFrame()
df_joined_data = pd.concat([housing_data70, housing_data71, housing_data72, housing_data73, housing_data74, housing_data75, housing_data76, housing_data77], ignore_index=True)
df_joined_data

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,Rooms,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,20264140050000,211,70,4687.0,70,2.0,0.0,2.0,1.0,11.0,...,2022.0,764.136594,1935.453861,2132.176749,1055.883106,South Lagoon,7762.535182,35.427683,37.501601,68.738677
1,20143100350000,207,70,2790.0,70,2.0,0.0,1.0,1.0,7.0,...,2022.0,4188.862414,2896.061077,886.525144,1745.812282,NaN,2559.083259,43.383443,76.822828,82.441660
2,25221150220000,202,210,4000.0,70,1.0,0.0,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25033000760000,210,111,2700.0,70,2.0,0.0,2.0,1.0,5.0,...,2016.0,NaN,5712.006728,NaN,NaN,NaN,9265.784793,30.013366,31.806947,60.028247
4,26174070030000,203,240,4312.0,70,5.0,0.0,2.0,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.492083,34.810349,68.982910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212400,16121020080000,211,101,3175.0,77,2.0,2.0,2.0,2.0,7.0,...,2019.0,NaN,1663.550266,NaN,NaN,NaN,3842.508220,25.004712,37.491853,50.010324
212401,17172120161351,299,131,38130.0,77,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.585415,155.464516,160.264510
212402,17082240081014,299,120,7136.0,77,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.440016,78.833218,107.208034
212403,13251310220000,211,150,3018.0,77,3.0,3.0,2.0,2.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.086735,74.702324,82.574120
212404,17193040270000,203,141,2976.0,77,1.0,0.0,1.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5058.506892,24.003443,24.004172,47.993710

In [19]:
# checking for duplicates
joined_housing = df_joined_data.groupby(["pin"])
joined_housing.size().sort_values(ascending= False)

pin
9253030290000     1
17183170570000    1
17183170220000    1
17183170250000    1
17183170270000    1
                 ..
14192300280000    1
14192300300000    1
14192310030000    1
14192310090000    1
26323110100000    1
Length: 212405, dtype: int64

In [20]:
# Exporting joined data
df_joined_data.to_csv('df_joined_data.csv', encoding='utf-8')